<footer role="contentinfo">
    <div class="inner">
        <div class="vcard">
            <a href="{{@blog.url}}/rss" id="btn_feed" class="btn" title="Feed" target="_blank">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>
            <a href="{{@blog.url}}" class="photo">
                <img src="{{@blog.logo}}" alt="{{@blog.title}}">
            </a>
            <div class="details">
                <h4><a href="{{@blog.url}}" class="url n">{{@blog.title}}</a></h4>
            </div>
        </div>
        <div id="user_bio">
            <div class="inner">
                {{!-- TODO: Parse HTML for links --}}
                {{@blog.description}}
            </div>
        </div>
    </div>
</footer>